<div class="col-md-8 col-md-offset-2">

<h1><%= @photo.user.email %></h1>
<p>at <%= @photo.created_at %> 
<% if @photo.user == current_user %>
	<%= link_to 'edit', edit_photo_path %> | 
	<%= link_to 'delete', photo_path, method: :delete %>
<% end %>
</p>

<img src="<%= @photo.image %>">
<br>
<%= link_to 'like', like_photo_path, class: "btn btn-default inline" %>
<%= @photo.likes %>
<br>

<p class="caption"><%= @photo.caption %></p>

<%= link_to 'back', photos_path, class: "nav" %>

<br>
<br>


<div class="comments">
<h3>Comments</h3>
<% @photo.comments.each do |cm| %>
	<p>
	<strong><%= cm.user.email %></strong>: <%= cm.text %>
	<% if cm.user == current_user %>
		<%= link_to 'delete', [cm.photo, cm], method: :delete %>
	<% end %>
	</p>
<% end %>
<br>
<p><strong>Add a Comment</strong> 
<% if current_user %>
	(posting as <em><%= current_user.email %>)</em></p>
	<%= render 'comments/form' %><br>
<% else %>
	(you have to sign in first)</p>
<% end %>




</div>


</div>
